/.idea/
/data/
/softhsm-*/

*.so
*.pem
cmd/microservice/log.txt

# binaries
/build
/backend-go
/kas
/go-kas
gokas

# test data
.github/workflows/roundtrip/sample.*

# Mock certs
kas-cert.pem
kas-ec-cert.pem
kas-ec-private.pem
kas-private.pem
